@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #525252 #171717;
  }

  ::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
    -webkit-appearance: none !important;
  }

  ::-webkit-scrollbar-track {
    background: #171717 !important;
    -webkit-border-radius: 0 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #525252 !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -webkit-box-shadow: none !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #737373 !important;
  }

  @supports (-webkit-appearance: none) {
    * {
      scrollbar-width: auto;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(82, 82, 82, 0.8);
      border-radius: 4px;
      border: 1px solid rgba(23, 23, 23, 0.1);
    }

    ::-webkit-scrollbar-track {
      background-color: rgba(23, 23, 23, 0.5);
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) {
  @supports (-webkit-appearance: none) {
    body,
    html {
      scrollbar-width: auto;
    }

    body::-webkit-scrollbar,
    html::-webkit-scrollbar,
    div::-webkit-scrollbar {
      width: 8px !important;
      height: 8px !important;
    }

    body::-webkit-scrollbar-thumb,
    html::-webkit-scrollbar-thumb,
    div::-webkit-scrollbar-thumb {
      background: #525252 !important;
      border-radius: 4px !important;
    }

    body::-webkit-scrollbar-track,
    html::-webkit-scrollbar-track,
    div::-webkit-scrollbar-track {
      background: #171717 !important;
    }
  }
}
